@import "tailwindcss";

:root {
  --app-bg-image: url("/bg/bg1.jpg");
}

html,
body {
  height: 100%;
}

body {
  background-image: var(--app-bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Only apply translucency to the Main box */
.mds-surface {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
